.form a {
    text-decoration: none;
}
.form a:hover {
    font-size: 120%;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: #22a884 solid 2px;
    width: 50%;
    border-radius: 10px;
    background-image: whitesmoke;

    & h4 {
        font-size: 180%;
        color: #22a884;
        font-weight: bold;
        text-align: center;
    } 
    & h3 {
        font-size: 120%;
        color: #35ca74;
        font-weight: bold;
        text-align: center;
    } 
    & p {
        font-size: 110%;
        color: #35ca74;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    } 
}

    

.form__input {
    padding: 100%;
    margin-bottom: 3rem;
    background-color: #35ca74;
    color:white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
}
.cliente {
    font-size: 28px;
    font-weight: bold;
}

.placeholder {
    border-radius: 15px;
    width: 80%;
    padding: 3%;
    height: 30px;
    text-align: center;
    color: white;
    border: #35ca74 solid 3px;
}
.placeholder__text {
    border-radius: 15px;
    border: none;
    width: 80%;
    height: 15%;
    color: black;
    text-align: center;
    border: #35ca74 solid 3px;
}
.items input:hover {
    cursor: pointer;
}
.items {
    display: flex;
    flex-direction: column;
}
.items label {
    color: black;
    width: 100%;
}
.items label:hover {
    cursor: pointer;
    font-weight: bold;
}