.form a {
    text-decoration: none;
}
.form a:hover {
    font-size: 120%;
}
.form {
    @include flex (column, center, center);
    gap: 30px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: #22a884 solid 2px;
    width: 50%;
    border-radius: 10px;
    background-image: whitesmoke;

    & h4 {
        font-size: 180%;
        color: #22a884;
        font-weight: bold;
        text-align: center;
    } 
    & h3 {
        font-size: 120%;
        color: #22a884;
        font-weight: bold;
        text-align: center;
    } 
    & p {
        font-size: 110%;
        color: #22a884;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    } 
    
}
.formInput {
    margin-bottom: 3rem;
    background-color: #22a884;
    color:white;
    font-size: 100%;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 1rem;
}
.cliente {
    font-size: 28px;
    font-weight: bold;
}