.form a {
    text-decoration: none;
}
.form a:hover {
    font-size: 120%;
}
.form {
    @include flex (column, center, center);
    gap: 30px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: #22a884 solid 2px;
    width: 50%;
    border-radius: 10px;
    background-image: whitesmoke;

    & h4 {
        font-size: 180%;
        color: #22a884;
        font-weight: bold;
        text-align: center;
        margin-top:5%;
    } 
    & h3 {
        font-size: 120%;
        color: #22a884;
        font-weight: bold;
        text-align: center;
    } 
    & p {
        font-size: 110%;
        color: #22a884;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    } 
    
}
.formInput {
    margin-bottom: 3rem;
    cursor: pointer;
    width: 100px;
    padding: 1rem;
    background-color:map-get($estilosButton, background-color);
    color: map-get($estilosButton, color);
    font-size: map-get($estilosButton, font-size); 
    font-weight: map-get($estilosButton, font-weight);
    border-radius: map-get($estilosButton, border-radius);
    padding: 10px;
    border: map-get($estilosButton, border);
    cursor: pointer;
}
.cliente {
    font-size: 28px;
    font-weight: bold;
}