.faq__style {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.faq__style iframe {
    width: 100%;
    padding: 2rem;
}
.faq__ref {
    text-decoration: none;
}
.rrss__link {
    text-decoration: none;
}
.rrss__url {
    display: flex;
    flex-direction: column;
}
