* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }
.main__index {
    @include flex (column, center, center);
    width: 90%;
    margin-left: 5%;
}
.carrousel {
    margin-bottom: 2rem;
}
.ofert {
    @include flex (row, center, center);
    flex-wrap: wrap;
    width: 85%;
    background-image: linear-gradient(to bottom, #35ca74, #22a884);
    margin-bottom: 5rem;
    border-radius: 30px;

    & h1 {
        color: white;
    font-size: 200%;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 2rem;
    text-align: center;
    }
    
    & h4 {
        color: white;
        font-size: 120%;
        margin-left: 10%;
        margin-right: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    & a {
        text-decoration: none;
        color: white;
        margin-left: 20%;
        font-weight: bold;
        text-align: center; 
    }

    & a:hover {
        font-weight: bold;
        color: black;
    }
}

.div__price {
    display: flex;
    gap: 20px;
}
.img__product {
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.brand {
    font-weight: bold;
    font-size: 160%;
}
.price {
    font-weight: bold;
    font-size: 150%;
}

.brand, .price, .description {
    margin-bottom: 5%;
}
.destacadas {
    display: flex;
    flex-direction: column;
    text-align: center;

    & p {
    font-size: 150%;
    color: black;
    font-weight: bold;
    border-bottom: #35ca74 solid 2px;
    }
}

.marcasDestacadas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    & img {
        width: 200px;
        height: 200px;
    }
}

.suscription {
    text-align: center;
    background-color: #EFEFEF;
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        & img {
            width: 100%;
            height: 100%;
        }
        & p {
            font-size: 180%;
            font-weight: bold;
            position: absolute;
            top: 25%;
        }
        & input {
            text-align: center;
            width: 35%;
            height: 15%;
            font-size: 110%;
            border: none;
            position: absolute;
            top: 50%;
        }
        & button {
            width: 20%;
            color: map-get($estilosButton, color);
            font-weight: map-get($estilosButton, font-weight);
            background-color: map-get($estilosButton, background-color);
            border: map-get($estilosButton, border);
            font-size: map-get($estilosButton, font-size);
            padding: 2px;
            position: absolute;
            top: 70%;
        }
}
.menuHamb {
    display: none;
}
.imgDirection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
}
.imgDirection img {
    border-radius: 5%;
    margin-bottom: 3%;
    cursor: pointer;
}
.avisos {
    @include flex (row, center, space-between);
    flex-wrap: nowrap;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2%;
    padding: 1%;
}
.group {
    width: 30%;
    @include flex (row, center, center);

    & img {
      width: 30%;  
    }

    & p {
        font-size: 110%; 
    }
}
.group p b:hover {
    color: #35ca74;
}
.access {
    @include flex (row, center, space-around);
    flex-wrap: wrap;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 90%;

    & img {
        border-radius: 10%;
        width: 100%;
        margin-bottom: 3%;
    }
}
.product {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: whitesmoke 2px solid;
    padding: 10px;
    background-color: white;  
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.product:hover {
   box-shadow: 11px 15px 5px 0px rgba(0,0,0,0.16); 
}

.button {
    background-color:map-get($estilosButton, background-color);
    color: map-get($estilosButton, color);
    font-size: map-get($estilosButton, font-size); 
    font-weight: map-get($estilosButton, font-weight);
    border-radius: map-get($estilosButton, border-radius);
    padding: 10px;
    border: map-get($estilosButton, border);
    cursor: pointer;
    margin-left: 3rem;
}