.btn {
    margin-bottom: 3%;
}
.main__index h4 {
    color: #35ca74;
    font-size: 150%;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: solid whitesmoke 3px;
    width: 80%;
    text-align: center;
}